*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


header{
    background-color: #EAC926;
}
header .form{
    width: 50%;
}
header div.logo{
    width: 50%;
}


header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    display: flex;
    height: 20%;
    width: 90%;

    align-items: center;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
footer{
    display: flex;
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
}
footer div article i{
    color: #0044AA;
    margin-bottom: 10px;
}
.items-footer{
    display: flex;
    width: 100%;
    }
.copyright{
    display: inline-block;
}
footer div article{
    width: 50%;
    margin-bottom: 10px;
    text-align: center; 
    justify-content: center;
}
.iconos{
    margin: auto;
    color: #0044AA;
    font-size: 2em;
    margin: 10px;

}
footer h5{
    font-size: 12px;
    margin-top: 10px;
}
.logeate{
    padding: 20px 15px;
}
div .formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .formulario-login label{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.formulario-login input{
    margin-top: 5px;
    display: flex;
    margin-bottom: 5px;
    width: 80vw;
    align-content: center;
    
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

input .bradio{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:2.5px;
    margin-top: 2.5px;
}

.fa-solid:hover{
    color: #EAC926;
}
input[type="date" i]{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.perfil{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input[type="text" i]{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}
.registrador-check{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registrador {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.formulario-login label{
    font-style: bold ;
}
div label 
.boton-logeo{
    display: flex;
    width: 80%;
    text-align: center;  
    border-radius: 5%;
    padding: 10px;
    background-color: #0044AA;
    color: #FFF;
    justify-content: center;
    
}

@media (max-width: 361px){
      article div h4 { display: none}

      nav.header-nav { display: none}


}  
@media (min-width: 361px) {
      div.burger-menu { display: none}
      header nav ul.primer-ul{
        display: flex;
        width: 45vw;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    header nav ul.segundo-ul{
        display: flex;
        width: 45vw;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    nav li{
        padding-bottom: 10px;
    }
    header nav ul li{
        margin-right: 10px;
    }
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    
    }
    .header-nav{ 
        display: flex;
        width: 90vw;

}



main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}